<form action="/login" method="get">
   Username:<br>
  <input type="text" name="user[username]"><br>
  Password:<br>
  <input type="password" name="password"><br>
  <input type="submit" value="Submit">
</form>