<form action="/users" method="post">
  First name:<br>
  <input type="text" name="user[first_name]"><br>
  Last name:<br>
  <input type="text" name="user[last_name]"><br>
   Username:<br>
  <input type="text" name="user[username]"><br>
    Email:<br>
  <input type="text" name="user[email]"><br>
  Password:<br>
  <input type="password" name="password"><br>
  <input type="submit" value="Submit">
</form>